* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root,
.button {
  font-family: "Open Sans", sans-serif;
}

.root {
  max-width: 1366px;
  margin: auto;
  color: #333;
  background-color: #e5e5e5;
}

.container {
  padding: 0 20px;
}

.header {
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  padding: 20px 0;
  background-color: #fff;
}

.header__logo-link {
  text-decoration: none;
  padding-right: 20px;
}

.header__row {
  display: flex;
  align-items: center;
}

.header__search {
  padding: 12px 16px;
  width: 100%;
  max-width: 581px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.header__search::placeholder {
  color: #b0b0b0;
}

.main__title {
  margin-top: 40px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.arrow-symbol {
  background-image: url("../images/ui/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  margin: 0 1px;
  display: inline-block;
}

.table-wrapper {
  max-width: 100vw;
  overflow: auto;
}

.table {
  margin-top: 26px;
  min-width: 1200px;
  width: 100%;
  border-collapse: collapse;
}

.table__data-row {
  background-color: #fff;
  border-bottom: 1px solid #c8c5d1;
}

.table__header-item,
.table__cell {
  padding: 20px;
}

.table__head {
  margin-bottom: 8px;
}

.table__header-item,
.table__control {
  color: #b0b0b0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.table__cell {
  border-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.table__control {
  border: 0;
  background-color: inherit;
  cursor: pointer;
  position: relative;
}

.contact {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.7;
}

.contact:not(:last-child) {
  margin-right: 7;
}

/* Tooltip logic */

.contact__tooltip {
  visibility: hidden;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(calc(-100% - 11px)) translateX(calc(-50% + 8px));
  padding: 7px 15px;
  width: max-content;
  max-width: 163px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  background-color: #333;
  color: white;
}

.contact::before {
  visibility: hidden;
  content: "";
  position: absolute;
  top: -26px;
  left: 2px;
  transform: rotate(66deg) skewX(45deg);
  width: 14px;
  height: 14px;
  background-color: #333;
}

.contact_open.contact::before {
  visibility: visible;
}

.contact_open .contact__tooltip {
  visibility: visible;
}

.contact_open.contact {
  opacity: 1;
}

.contact__link {
  color: #b89eff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.contact__tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

/* Tooltip logic end */

.contact_facebook {
  background-image: url("../images/social/fb.svg");
}

.contact_email {
  background-image: url("../images/social/mail.svg");
}

.contact_other {
  background-image: url("../images/social/other.svg");
}

.contact_vk {
  background-image: url("../images/social/vk.svg");
}

.contact_tel {
  background-image: url("../images/social/phone.svg");
}

.contact_vk {
  background-image: url("../images/social/vk.svg");
}

.small-text {
  font-size: 10px;
  line-height: 14px;
}

.accent-text {
  color: #9873ff;
}

.muted-text {
  color: #b0b0b0;
}

.client__time {
  margin-left: 7px;
}

.table__actions-cell {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-action-btn {
  padding-left: 18px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: 0;
  cursor: pointer;
  color: #333;
}

.client-delete-btn {
  background-image: url("../images/ui/cancel.svg");
}

.client-delete-btn:hover {
  color: #f06a4d;
}

.client-edit-btn {
  background-image: url("../images/ui/edit.svg");
}

.client-edit-btn:hover {
  color: #9873ff;
}

.add-client-btn {
  display: block;
  margin: 40px auto 0;
  padding: 13px 27px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #9873ff;
  cursor: pointer;
  border: 2px solid #9873ff;
  display: flex;
  align-items: center;
}

.add-client-svg {
  margin-right: 10px;
}

.add-client-btn:hover {
  color: #fff;
  background-color: #9873ff;
}

.add-client-btn:hover .add-client-svg path {
  fill: #fff;
}
